<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.js/}" ></script>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><img style="width: 35px" th:src="@{/img/thymeleaf.png}" alt=""></a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Welcome to WhyTunes</h1>
        <p> This website is used for showing 5 random tracks, artists and genres, as well as searching for tracks. </p>
    </div>
</div>

<div class="row justify-content-center">
    <form class="form-inline" action="#" th:action="@{/search}" method="get">
            <input type="text" class="form-control" placeholder="Search for a song" aria-label="Search for a song" aria-describedby="basic-addon2" name="query" th:value="${query}" required/>
            <button type="submit" class="btn btn-success">Search</button>
    </form>
</div>

<div class="row justify-content-center">
    <h2 class="display-4">5 random tracks, artists and genres</h2>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3 ">
            <table class="table table-striped table-bordered">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Tracks</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="track: ${tracks}">
                    <td th:text="${track.getTrackName()}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-3 ">
            <table class="table table-striped table-bordered">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Artists</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="artist: ${artists}">
                    <td th:text="${artist.getArtistName()}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-3 ">
            <table class="table table-striped table-bordered">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Genres</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="genre: ${genres}">
                    <td th:text="${genre.getGenreName()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
