<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.js/}" ></script>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><img style="width: 35px" th:src="@{/img/thymeleaf.png}" alt=""></a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/random">View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Add</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <div class="container ">
        <h1 class="display-3 align-self-center">Tracks that we found: </h1>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 ">
            <table class="table table-striped table-bordered">
                <thead class="thead-light">
                    <th scope="col">Track</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Album</th>
                    <th scope="col">Genre</th>
                </thead>
                <tbody>
                <tr th:each="track: ${results}">
                    <td th:text="${track.getTrackName()}"></td>
                    <td th:text="${track.getArtistName()}"></td>
                    <td th:text="${track.getAlbumName()}"></td>
                    <td th:text="${track.getGenreName()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>